.titleCardCaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;



    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 517px;
        height: 268px;

        @media (max-width: 600px) {
            width: 300px;
            height: 230px;
        }
    }

    &__badge {
        background: url(/src/assets/images/only_popup.svg) no-repeat center center / cover;
        position: absolute;
        display: flex;
        align-self: flex-end;
        align-items: center;
        justify-content: center;
        width: 244px;
        top: 0px;
        right: -32px;
        height: 52.75px;

        @media (max-width: 600px) {
            top: 10px;
            right: -20px;
            width: 144px;
            height: 32.75px;
            font-size: 12px;
        }

        span {
            margin-top: -10px;
        }
    }

    &__subtitle {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;

        &::before,
        &::after {
            content: '';
            flex: 1;
            height: 1px;
            background-color: #fff;
            margin: 0 10px;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
    }

    &__button {
        @media (max-width: 600px) {
            width: 140px;
            height: 40px;
        }

        cursor: pointer;
        background: transparent;
        border: 1px solid #fff;
        border-radius: 5px;
        width: 230px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 64px;
    }
}